<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jasonantao.testappmock1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Jason&apos;s Basic Interest Determinator"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DataEntry">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayCalc"
            android:label="Display Calc"
            android:parentActivityName=".DataEntry">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DataEntry" />
        </activity>
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".RecipeDetailActivity" />
        <activity android:name=".BackupDisplay" />
        <activity
            android:name=".LoadPage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_load_page"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>